
/* ===========fonts css start============*/
body {
    font-family: 'Poppins', sans-serif;
}

/* ===========fonts css end============*/
/* ===========color css start============*/
.primaryColor {
    color: #289BDE;
}

.dark-heading1 {
    color: #4A4A4A;
}

.dark-heading {
    color: #1D1D1D;
}

.dark-pragraph {
    color: #777777;
}

.white-pragraph {
    color: #F4F4F4;
}
.explorebg{
    background: #F4FAFD;
}
.primarybgColor {
    background-color: #289BDE;
}

.socialbg {
    background-color: #242424;
}
.starcolro{
    color: #FBBF24;
}
/* ===========color css end============*/
/* ===========size css end============*/
.feedback-width{
    width: 0;
    height: 0;
}
/* ===========midia query css end============*/
@media only screen and (max-width: 575.98px) {
    .sliderimage{
        height: 350px;
    }
}
